html, body{
  margin: 0;
  padding: 0;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
}

h3, h4, p, a{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.Home, .Comparative, .Timeline{
  width: 80%;
  height: 100vh;
  float: left;
}

/* ---------------------------------------- */
/* Nav Styling */

.Nav{
  width: 15%;
  height: 100vh;
  background-color: #031926;
  color: white;
  float: left;
  justify-content: center;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Logo{
  margin: 0 auto;
  margin-top: 25px;
  width: 150px;
  height: 150px;
  background-image: url("Img/Logo.png");
  background-position: center;
  background-size: contain;
}

.navItems{
  margin-top: 60vh;
}

.navItems p:hover{
  font-weight: bold;
  color: #9dbebb;
}

.active p{
  font-weight: bold;
  color: #9dbebb;
}

/* ---------------------------------------- */
/* Landing Styling */

.Global{
  background-color: #468189;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.UIelement{
  width: 55%;
  margin-left: 40px;
  height: 40vh;
  border-radius: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url('Img/covidwashHands.gif');
  background-position: center;
  background-size: cover;
}

/* https://media.giphy.com/media/WOkuHrhNv4LQVeSoik/giphy.gif */

.TimelineData{
  width: 35%;
  margin-left: 35px;
  height: 45vh;
  border-radius: 20px;
  float: left;
  background-image: url('Img/Logo.png');
  background-position: center;
  background-size: contain;
}

.AboutBlock, .ComparativeData{
  width: 29%;
  height: 40vh;
  border-radius: 20px;
  float: left;
  margin-left: 35px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.homeBar{
  padding-left: 10px;
  padding-right: 10px;
}



.ComparativeData{
  background-color: #9dbebb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HeadingBG{
  width: 100%;
  background-color: #212121;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* TimelineData */
.CountrySelect{
  padding: 8px;
  border-radius: 5px;
  background-color: #031926;
  color: white;
  margin-left: 30px;
  outline: none;
}

/* ComparativeData */
.content-container{
  margin-top: 40px;
}

.confirmedCases, .Deaths, .comparativeBlock{
  background-color: #77aca2;
  border-radius: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  float: left;
}

.Deaths, .comparativeBlock{
  width: 45%;
  height: 35vh;
}

.confirmedCases{
  width: 45%;
  height: 74vh;
}

/* TimelineData */
.TimelineBlock{
  background-color: #77aca2;
  width: 94%;
  height: 70vh;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
}