html, body, ul{
  margin: 0;
  padding: 0;
}

h1{
  margin-left: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
  color: #031926;
}

h2{
  padding: 0;
  margin-left: 0;
  color: #468189;
  margin-bottom: 5px;
}

h4{
  margin-top: 0;
  margin-left: 30px;
  padding-bottom: 5px;
}

h5{
  margin-top: 0;
  margin-left: 30px
}

h3{
  margin-left: 15px;
  color: white;
}

ul, a{
  text-decoration: none;
  color: #BCB8B2;
  list-style: none;
  margin-top: 70vh;
}

.Nav{
  width: 20%;
  height: 100vh;
  background-color: #031926;
  color: white;
  float: left;
  justify-content: center;
  position: relative;
}

.Logo{
  margin-top: 40px;
  width: 150px;
  height: 150px;
  background-image: url("Img/Logo.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 20%;
}

.NavItem{
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #BCB8B2;
}

.NavItem:hover{
  background-color: #468189;
  color: white;
}

.Global{
  background-color: #468189;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.UIelement{
  width: 45%;
  margin-left: 40px;
  height: 40vh;
  background-color: #468189;
  border-radius: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TimelineData{
  width: 45%;
  margin-left: 35px;
  height: 40vh;
  background-color: #77aca2;
  border-radius: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Home, .Comparative, .Timeline{
  width: 80%;
  height: auto;
  float: left;
}

.AboutBlock, .ComparativeData{
  width: 29%;
  height: 40vh;
  border-radius: 20px;
  float: left;
  margin-left: 35px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.homeBar{
  padding-left: 10px;
  padding-right: 10px;
}



.ComparativeData{
  background-color: #9dbebb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HeadingBG{
  width: 100%;
  background-color: #212121;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* TimelineData */
.CountrySelect{
  padding: 8px;
  border-radius: 5px;
  background-color: #031926;
  color: white;
  margin-left: 30px;
  outline: none;
}

/* ComparativeData */
.content-container{
  margin-top: 40px;
}

.confirmedCases, .Deaths, .comparativeBlock{
  background-color: #77aca2;
  border-radius: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  float: left;
}

.Deaths, .comparativeBlock{
  width: 45%;
  height: 35vh;
}

.confirmedCases{
  width: 45%;
  height: 74vh;
}

/* TimelineData */
.TimelineBlock{
  background-color: #77aca2;
  width: 94%;
  height: 60vh;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
}

p{
  margin-top: 30px;
  margin-left: 30px;
}